<h1>Hail Traveler</h1>
<h6>-</h6>
<h6>There are clans that needs fighters, parties that are LFM, guilds that need craftsmen and powerful alliances that need to add to their ranks.</h6>
<h6>-</h6>
<div class="page_links">
	<%= link_to "Join GuildHail", new_user_registration_path, :class => "sign_up" %>
	<%= link_to "sign in", new_user_session_path %>
</div>