<h1>Hail Traveler</h1>
<p>There are clans that needs fighters, parties that are LFM, guilds that need craftsmen and powerful alliances that need to add to their ranks.</p>
<h2>They await your hail!</h2>
<div class="page_links">
	<%= link_to "Join GuildHail", new_user_registration_path, :class => "sign_up" %>
	<%= link_to "sign in", new_user_session_path %>
</div>