$gre_1:#111111
$gre_2:#1a1a1a
$gre_3:#4d4d4d
$gre_4:#878787
$gre_5:#bababa
$gre_6:#e0e0e0
$whi: #ffffff
$red_5:#fddbc7
$red_4:#f4a582
$red_3:#d6604d
$red_2:#b2182b
$red_1:#67001f
$blu_1:#4575b4
$blu_2:#74add1
$blu_3:#abd9e9
$blu_4:#e0f3f8
$yel_1:#EEEEB2

$text:$gre_1
$title:$red_2
$link:$blu_1
$link_alt:$blu_3
$clr_1:$red_1
$clr_2:$red_2
$clr_3:$red_3