@import "mixins"

nav
  width: 50%
  margin: 0px auto
  height: 100%
  padding: 0px
  text-align: center
  vertical-align: middle
  a
    display: inline-block
    text-align: center
    background: $gre_2
    width: 100px
    height: 100px
    padding: 14px 0px
    @include round
    font-size: 1.5em
    font-family: 'Eagle Lake', sans-serif
    
header
  background-color: $gre_4
  clear: both
  float: left
  width: 100%
  height: 40px
  border-bottom: 7px solid $red_2
  padding-top: 2px
  
a.title
  font-family: 'Eagle Lake', sans-serif
  font-size: 2.5em
  color: $title
  position: absolute
  top: 5px
  left: 5px
  @include round
  @include title_link
  background: $gre_2
  padding: 12px
  &:hover
    color: $link
  