@import "mixins"

.cool_link
  @include cool_link

body
  font-family: 'Open Sans', sans-serif
  color: $text


h1
  font-family: 'Atomic Age', sans-serif
  font-size: 2.5em
  color: $title

h2
  font-family: 'Contrail One', sans-serif
  color: $title
  font-size: 2em

h3
  font-family: 'Contrail One', sans-serif
  color: $title

h4
  font-family: 'Open Sans', sans-serif
  color: $text
  font-size: 1.5em
  
h5
  font-family: 'Open Sans', sans-serif
  color: $text
  font-size: 1.2em

h6
  font-family: 'Open Sans', sans-serif
  color: $text
  font-size: 1em
  font-style: italic

a
  color: $link
  text-decoration: none
  &:hover
    text-decoration: underline
    color: $link
  &:visited
    text-decoration: none
    color: $link
    
.emph
  color: $red_2
  font-style: italic

.de-emph
  color: $gre_3
  font-size: .85em

