@import "mixins"

.jape
  font-family: 'Simonetta', cursive
  font-family: 'Almendra', serif
  font-family: 'Jacques Francois Shadow', cursive

.cool_link
  @include cool_link

body
  font-family: 'Bitter', sans-serif
  color: $text
  font-size: .8em

p
  line-height: 130%
h1
  font-family: 'Simonetta', cursive
  font-size: 2.5em
  color: $title
  margin: 0px -15px 15px -15px
  padding: 5px
  background: $Gnarly_red
  top: 0px
  text-align: center
  letter-spacing: 10px
  font-weight: bold

h2
  font-family: 'Almendra', serif
  color: $text
  font-size: 1.9em
  margin: 15px 0px

h3
  font-family: 'Almendra', serif
  color: $Gnarly_red
  font-size: 1.8em
  width: 100%
  border: 1px solid $Gnarly_red
  text-align: center
  font-weight: bold
  

h4
  font-family: 'Eagle Lake', serif
  color: $text
  font-size: 1.2em
  margin: 15px 0px
  
h5
  font-family: 'Bitter', serif
  color: $text
  font-size: 1.1em
  margin: 15px 0px

h6
  font-family: 'Bitter', serif
  color: $text
  font-size: 1.2em
  margin: 10px
  line-height: 130%
  text-align: center

a
  color: $link
  &:hover
    text-decoration: underline
    color: $link
  &:visited
    text-decoration: none
    color: $link
    
.emph
  color: $red_2
  font-style: italic

.de-emph
  color: $gre_3
  font-size: .85em