<table>
  <tr>
    <th>Name</th>
    <th>Founder</th>
    <th>Created</th>
  </tr>
  <% for alliance in @alliances %>
    <tr>
      <td><%= link_to "#{alliance.name}", alliance_path(alliance) %></td>
      <td><%= alliance.owner.name %></td>
      <td><%= alliance.created_at.strftime('%B %d, %Y') %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Alliance", new_alliance_path if can? :create, Alliance %></p>
