<% title "Alliance" %>

<p>
  <strong>Name:</strong>
  <%= @alliance.name %>
</p>

<p>
  <%= link_to "Edit", edit_alliance_path(@alliance) %> |
  <%= link_to "Destroy", @alliance, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", alliances_path %>
</p>
