<nav>
	<%= link_to "Sign in", new_user_session_path unless signed_in? %>
	<%= link_to "Sign up", new_user_registration_path unless signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete if signed_in? %>
</nav>
<h1><%= link_to "Guild Hail", root_path %></h1>